*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, h1, ul{
    padding: 2rem;
}

.container{
    width: 800px;
    margin: auto;
}

h1{
    text-align: center;
}

main, header{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    line-height: 2rem;
    
}

.d-none{
    display: none;
}

button{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    
    
}
